.big-yellow
  .hero
    .hero-inner
      %h1
        %img{:src=>asset_path("smalls-logo.svg"), :width => 300}
      %h2
        Prototype
      %h3
        The smart way to commission short-form video content

      %a.start-button{:href=>"/briefs/new", :"data-no-turbolink" => ""}
        Commission a video
        