
%polymer-element{name: "brief-display", :attributes=>"brief"}
  
  %template
    :scss
      .brief-body {
        padding-left: 0.5em;
        padding-right: 0.5em;
        section {
          border-bottom: 2px solid #ddd;
        }
      }
      .green {
        background-color: #22aa77;
      }
      .next-right {
        float: right;
        margin-right: 2em;
      }
      .brief-state {
        background-color: white;
        text-transform: uppercase;
        display: inline-block;
        padding-left: 0.5em;
        padding-right: 0.5em;
        font-weight: 100;
        border-radius: 4px;
      }

    .brief

      .brief-header
        %h1 {{brief.name}}
        %template{:if=>"{{brief.brand_name}}"}
          %h2
            For {{brief.brand_name}}
        %template{:if=>"{{brief.aasm_state != 'active'}}"}
          %p.brief-state
            {{brief.aasm_state}}
        %template{:if=>"{{brief.pitch_deadline}}"}
          %h4
            %core-icon{icon:"event"}
            Applications close
            %time{is:"local-time", datetime:"{{brief.pitch_deadline}}"} {{brief.pitch_deadline | dayDisplay}}
        %template{:if=>"{{brief.delivery_deadline}}"}
          %h4
            %core-icon{icon:"event"}
            Final delivery
            %time{is:"local-time", datetime:"{{brief.delivery_deadline}}"} {{brief.delivery_deadline | dayDisplay}}
        .next-right
          %template{:if => "{{}}"}
          %core-tooltip{:tabindex=>"0"}
            
            .rich
              %paper-fab.green{:"hidden?"=>"{{brief.aasm_state == 'draft'}}", :class=>"create", :icon=>"arrow-forward", :title=>"Respond to this brief", :role=>"button", :tabindex=>"0", :"aria-label"=>"Respond to this brief", :"on-click"=>"{{showBrief}}"}
            %div{:tip=>""}
              Respond to this brief
            
            

      .brief-inner
        .brief-body
          %section
            %h3 Overview
            %h4 Description
            %mark-down{:text=>"{{brief.description}}"}
            %h4 
              Budget:
              %template{:if=>"{{brief.budget_low}}"}
                £{{brief.budget_low}}
                %template{:if=>"{{brief.budget_high}}"}
                  to
                  £{{brief.budget_high}}

            %template{:if=>"{{brief.budget_description}}"}
              %mark-down{:text=>"{{brief.budget_description}}"}

          %section
            %h3 Creative
            %template{:if=>"{{brief.aesthetic}}"}
              %mark-down{:text=>"{{brief.aesthetic}}"}

          %section
            %h3 Objectives
            %template{:if=>"{{brief.aesthetic}}"}
              %mark-down{:text=>"{{brief.aesthetic}}"}

          %section
            %h3 Practical details
            %template{:if=>"{{brief.destination}}"}
              %h4 Where the video will be used
              %mark-down{:text=>"{{brief.destination}}"}

            %template{:if=>"{{brief.technical_specification}}"}
              %h4 Technical specification
              %mark-down{:text=>"{{brief.technical_specification}}"}

          - if false
            %core-item{icon:"label-outline", label:"Start"}
            %core-item{icon:"label-outline", label:"Overview"}
            %core-item{icon:"label-outline", label:"Creative"}
            %core-item{icon:"label-outline", label:"Objectives"}
            %core-item{icon:"label-outline", label:"Timings"}
            %core-item{icon:"label-outline", label:"Practicalities"}
            %core-item{icon:"label-outline", label:"Team"}
            %core-item{icon:"label-outline", label:"Preview"}

  :javascript
    Polymer('brief-display', {

      ready: function() {
        console.log("brief ready");
      },
      dayDisplay: function(date) {
        return(date.toDateString());
      },
      showBrief: function() {
        document.location.href = '/briefs/' + this.brief.slug + "/pitches/new";
      }

    });