.next-right
  %paper-fab{:"hidden?"=>"{{page == (numberOfPages -1)}}", :class=>"arrow-forward", :icon=>"arrow-forward", :title=>"arrow-forward", :role=>"button", :tabindex=>"0", :"aria-label"=>"arrow-forward", :"on-click"=>"{{forward}}"}