%img{:src=>asset_path("smalls-logo.svg"), :width => 100}
%polymer-element{name: "brief-maker"}
  
  %template
    :css
      .intro {
        max-width: 35em;
        margin: auto;
      }
      .narrow {
        max-width: 35em;
        margin: auto;
      }
      .main {
        min-height: 80vh;
      }
      .progress {
        
      }

      paper-fab.arrow-forward {
        background: #259b24;
        vertical-align: middle;
        margin-left: 2rem;
      }

      paper-fab.arrow-back {
        background: #777777;
        vertical-align: middle;
        margin-right: 2rem;
      }

      .progress-bar {
        margin-bottom: 1rem;
      }
    %div.main{:layout=>"", :vertical=>""}
      
      %div.main-content{:flex => ""}
        %core-animated-pages{:selected=>"{{page}}", :transitions=>"hero-transition cross-fade", :"on-core-animated-pages-transition-end"=>"{{complete}}"}
          
          %section
            %div{:hero=>"", :center=>"", :layout=>"", :horizontal=>"", :"center-justified"=>""}
              %h1 Let’s commision a video, shall we?
            %div{:"cross-fade"=>""}
              .intro
                %p 
                  Think about what you’re looking for in your video project. This tool will help you through the process of building a brief.

                %p
                  Once it’s done, you’ll submit it to our network of 10,000+ short film makers, get responses and shortlist to find just the right people to make it for you.

              

          %section
            %div{:hero=>"", :center=>"", :layout=>"", :horizontal=>"", :"center-justified"=>""}
              %h1 An overview of your project
            %div{:"cross-fade"=>""}
              .intro
                %p
                  Imagine you are talking to a film-maker one-on-one. This section is a chance to get them interested in your project and to understand what it’s about.

              .narrow
                %paper-input-decorator{:label => "What is it called?", :floatingLabel => "", :layout => "", :vertical => ""}
                  %paper-autogrow-textarea
                    %textarea

                %paper-input-decorator{:label => "Describe what you are looking for", :floatingLabel => "", :layout => "", :vertical => ""}
                  %paper-autogrow-textarea
                    %textarea

                %paper-input-decorator{:label => "Why are you commissioning this video?", :floatingLabel => "", :layout => "", :vertical => ""}
                  %paper-autogrow-textarea
                    %textarea
               
          %section
            %div{:hero=>"", :center=>"", :layout=>"", :horizontal=>"", :"center-justified"=>""}
              %h1 Creative brief
            %div{:"cross-fade"=>""}
              .intro
                %p
                  Now think about what you’d like to achieve creatively with this project.

              .narrow
                %paper-input-decorator{:label => "What is the style and general aesthetic you’re looking for?", :floatingLabel => "", :layout => "", :vertical => ""}
                  %paper-autogrow-textarea
                    %textarea
              
          %section
            %div{:hero=>"", :center=>"", :layout=>"", :horizontal=>"", :"center-justified"=>""}
              %h1 Your objectives
            %div{:"cross-fade"=>""}
              .intro
                %p
                  Now think about what you’re hoping to achieve by making this video.

              .narrow
                %paper-input-decorator{:label => "What will success look like?", :floatingLabel => "", :layout => "", :vertical => ""}
                  %paper-autogrow-textarea
                    %textarea

                %paper-input-decorator{:label => "What is your challenge or business objective?", :floatingLabel => "", :layout => "", :vertical => ""}
                  %paper-autogrow-textarea
                    %textarea
                
          
          %section
            %div{:hero=>"", :center=>"", :layout=>"", :horizontal=>"", :"center-justified"=>""}
              %h1 Timings
            %div{:center=>"", :layout=>"", :horizontal=>"", :"center-justified"=>""}
              %div{:flex=>""}
                %h2{:center=>"", :layout=>"", :horizontal=>"", :"center-justified"=>""}
                  What is the pitch deadline?
                %div{:"cross-fade"=>"", :layout=>"", :horizontal=>"", :center=>"", :"center-justified"=>"", :class=>"light-theme" }
                  %d-calendar
              %div{:flex=>""}
                %h2{:center=>"", :layout=>"", :horizontal=>"", :"center-justified"=>""}
                  And the delivery deadline?
                %div{:"cross-fade"=>"", :layout=>"", :horizontal=>"", :center=>"", :"center-justified"=>"", :class=>"light-theme" }
                  %d-calendar
            

          %section
            %div{:hero=>"", :center=>"", :layout=>"", :horizontal=>"", :"center-justified"=>""}
              %h1 Practicalities
            %div{:"cross-fade"=>""}
              .intro
                %p
                  And finally, just a few details.

              .narrow
                %paper-input-decorator{:label => "Where will the video be used?", :floatingLabel => "", :layout => "", :vertical => ""}
                  %input{:is=>"core-input"}

                %paper-input-decorator{:label => "Where will the video be used?", :floatingLabel => "", :layout => "", :vertical => ""}
                  %input{:is=>"core-input"}
      %div.next
        %div.progress{:center=>"", :layout=>"", :vertical=>"", :"center-justified"=>""}
          .progress-bar
            %paper-progress{:value=>"{{(page * 100) / 7}}"}
          .back-forward
            %paper-fab{:class=>"arrow-back", :mini=>"", :icon=>"arrow-back", :title=>"arrow-back", :role=>"button", :tabindex=>"1", :"aria-label"=>"arrow-back", :"on-click"=>"{{back}}"}
            %paper-fab{:class=>"arrow-forward", :icon=>"arrow-forward", :title=>"arrow-forward", :role=>"button", :tabindex=>"0", :"aria-label"=>"arrow-forward", :"on-click"=>"{{forward}}"}
            


  :javascript
    Polymer('brief-maker', {

      page: 0,

      forward: function(){
        this.page = this.page +1;
      },

      back: function(){
        this.page = this.page -1;
      }

    });

%brief-maker
  


  