// Establish a vertical rhythm


// Just a bit of styling to the demos
body {
    background: #fff;
    margin: 0 auto;
    color: #333;
    font-family: $base-font-family;
}
// header {
//     @include margin-leader(4);
//     @include margin-trailer(4);
//     //@include apply-side-rhythm-border(top, 6px, 1);
//     //@include apply-side-rhythm-border(bottom, 6px, 1);
//     //border-color: #FF3149;

//     & > h1 {
//         color: #FF3149;
//     } 
// }
main {
    @include clearfix;
    .left {
        float: left;
        width: 60%;
    }
    .right {
        float: right;
        width: 35%;
    }
    
}
footer {
    @include apply-side-rhythm-border(top, 2px, 1);
    @include margin-leader(4);
    @include margin-trailer(4);
    border-color: darken(white, 10%);
}