// Place all the styles related to the Briefs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/typography/vertical_rhythm";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
@import "breakpoint";
@import "susy";

$yellow: #ffee55;

body /deep/ .brief {
  max-width: 40em;
  background-color: white;
  margin: auto;
  margin-top: 2em;
  @include trailer(4);
  .brief-header {
    background-color: #fff233;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    margin: auto;
  }
  .brief-inner {
    padding-top: 2em;
    padding-bottom: 2em;
    max-width: 36em;
    margin: auto;
  }
}

body /deep/ .pitch {
  max-width: 40em;
  background-color: white;
  margin: auto;
  margin-top: 2em;
  @include clearfix();
  @include trailer(4);
  .pitch-header {
    background-color: #fff233;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    margin: auto;
  }
  .pitch-inner {
    padding-top: 2em;
    padding-bottom: 2em;
    max-width: 36em;
    margin: auto;
  }
}


@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.big-yellow {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 75vh;
  border-top: 4px solid $yellow;
  background-position: center center;
}

.big-yellow-bg {
  z-index: -1;
  background: url('https://www.filepicker.io/api/file/93ftmlLRMqNbb7jXYUhg/convert?w=2000&h=1500&fit=max') no-repeat center center fixed;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  opacity: 0;
  
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 2s;

  &.visible {
    opacity: 1;
  }
}

.hero {
  background-color: darken(rgba(255,238,85, 0.3),33);
  margin: auto;
  text-align: center;
  //max-width: 50em;
  height: 100%;
  min-height: 75vh;
  @include padding-leader(2);
  
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  .flex {
    width: 100%;
  }
  .hero-logo {
    width: 50%;
    max-width: 480px;
  }
  h1 {
    color: white;
    font-weight: bold;
  }
  h2, h3 {
    color: white;
    font-weight: 900;
    padding-right: 2em;
    padding-left: 2em;
  }
  
}

.start-buttons {
  @include leader(3);
}
body /deep/ {
  .start-button {
    white-space: nowrap;
    color: #222;
    background-color: $yellow;
    @include border-radius(4px);
    font-weight: 100;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
    text-transform: uppercase;
    @include adjust-font-size-to(20px, 3);
    &:hover, &:active {
      background-color: white;
    }
    @include clearfix();
  }

  input.start-button {
    border: 0px;
    display: inline-block;
    @include adjust-font-size-to(17px, 1);
  }
}

.yellow-header {
  text-align: center;
  @include trailer(3);
  display: block;
  h1, h2 {
    font-weight: 100;
  }
}

.brief-list__item {
  background-color: rgba(255,255,255,0.4);
  padding-left: 0.875em;
  padding-right: 0.875em;
  @include padding-leader(0.5);
  @include padding-trailer(0.5);
  @include trailer(0.5);
  border-right: 4px solid $yellow;
  &:hover {
    background-color: $yellow;
  }
  h4 {
    @include trailer(0);
    font-weight: 900;
    a {
      color: #222;
      &:hover {
      }
    }
  }
  p {
    @include trailer(0);
  }
}
