// Place all the styles related to the Briefs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body /deep/ .brief {
  max-width: 40em;
  background-color: white;
  margin: auto;
  margin-top: 2em;
  .brief-header {
    background-color: #fff233;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    margin: auto;
  }
  .brief-inner {
    padding-top: 2em;
    padding-bottom: 2em;
    max-width: 36em;
    margin: auto;
  }
}

.big-yellow {
  background-color: #fff233;
  width: 100%;
  height: 100%;
}
.hero {
  margin: auto;
  text-align: center;
  max-width: 40em;
  background-color: #fff233;
  .hero-inner {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  h1 {
    background-color: white;
    color: #222;
    font-weight: bold;
    padding: 1em;
  }
  .start-button {
    background-color: white;
    color: #222;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-decoration: none;
  }
}